form {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 8rem auto 0 auto;
  max-width: 380px;
  padding: 1em;
}

form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}

form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
}

form button:hover {
  background: lightskyblue;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

input {
  padding: 0.7em;
}
input:focus {
  outline: 3px solid lightskyblue;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 120px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }

  input,
  button,
  input + div {
    grid-column: 2 / 3;
  }
}

.error {
  color: red;
}