.header {
  margin-top: 12px;
  display: flex;
  justify-content: space-evenly;
  width: 35%;
}

.headerBtn {
  background-color: white;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.5;
}

.headerBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.headerBtn:disabled {
  color: red;
  cursor: default;
}

.active {
  opacity: 1;
}
